<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ticket Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Ticket Management System</h1>
		<hr>
		<h2>Save Ticket</h2>

		<form action="#" th:action="@{/saveTicket}" th:object="${ticket}"
			method="POST">
			<input type="text" th:field="*{title}"
				placeholder="Ticket Title" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{description}"
				placeholder="Ticket Description" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Ticket</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Ticket List</a>
	</div>
</body>
</html>